*{
    text-align: center;
    background-color: bisque;
}

h1{
    color:saddlebrown;
    font-size: 5rem;
    margin-bottom: 5px;
}

p{
    color:rgb(140, 80, 37);
    font-size: 1.2rem;
    margin-top: 0;
}

ul{
    list-style: none;
}